<div id="about">
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <h3>Wat-R-U-Reading was devolped by the adult version of:</h3>

      <hr>
      <p><img class="img-responsive" src="http://placehold.it/1200x600" alt="siteLOG goes here"></p>
      <hr>

      <h4 class="text-center"> <span class="glyphicon glyphicon-arrow-up"></span> That Guy(AKA Sam Ruby) <span class="glyphicon glyphicon-arrow-up"></span> </h4>

      <hr>

      <p>
        For the past twelve weeks I have been learning how to be a full stack web developer at WDI. The inspiration for this site came from my desire to READ again now that the WDI intensive is coming to an end!
      </p>
      <p>
        Before this I was a buissness analyst with little to no web development experince, now look at me go...WOOT GA and WDI
      </p>
      <p>
        Before this I was a buissness analyst with little to no web development experince, now look at me go...WOOT GA and WDI
      </p>

    </div>
  </div>
</div>
