<div class="Add a book DIV">
  <h2> Add a book! </h2>
  <form class='userEvents' id='create-new-book'>
    <div class="form-group">
      <input type="text" name="book[title]" placeholder="Enter Book Title">
      <input type="text" name="book[startDate]" placeholder="Enter Start Date Here">
      <input type="text" name="book[status]" placeholder="Enter Book Status Here">
    </div>
    <button type="submit" class="btn btn-default">Create Book</button>
  </form>

</div>
