<div id="all-book-clubs">
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <h2>Wat-R-U-Reading <strong> NEXT! </strong></h2>
      <hr>
      <div class="jumbotron">
        <h1>Under Construction <small> Coming Soon: </small></h1>
        <hr>
          <ul class="list-inline center-block text-center">
            <li>Look at other book clubs being hosted</li>
            <li>RSVP to book clubs near you</li>
            <li>Search for book clubs in your area</li>
          </ul>
      </div>
      <h4> Patience is a virtue...see the quotes below proove it </h4>
      <blockquote>
        <p>The key to everything is patience. You get the chicken by hatching the egg, not by smashing it.</p>
        <footer>Arnold Glasgow <cite title="Source Title">Google it if you're intrested</cite></footer>
      </blockquote>
      <blockquote>
        <p>Never cut a tree down in the wintertime. Never make a negative decision in the low time. Never make your most important deisions in your worst moods. Wait. Be Patient. The storm will pass. The Spring will come.</p>
        <footer>Rober Schuller <cite title="Source Title">Some Seromn</cite></footer>
      </blockquote>
      <blockquote>
        <p>Patience can't be acquired overnight. It is just like building up a muscle. Every day you need to work on it.</p>
        <footer> Eknath Eswaran <cite title="Source Title">Don't ask questions you don't want to know the answer to...</cite></footer>
      </blockquote>

    </div>
  </div>
</div>
