<div id="change-pw-form">
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <h2 id="message">Change Your Password</h2>
      <hr>
      <div class="well">
        <form  id='change-pw'>
          <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <input type="password" class="form-control" id="old-pw" name="passwords[old]" placeholder="Enter old PW">
          </div>
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" id="new-pw" name="passwords[new]" placeholder="Enter new PW">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
