<div id="failure-message">
  <hr>
  <div class="row">
    <div class="col-sm-12">
    <h4 class="text-danger">That didn't work...are you sure that was the right password?  If you're signing up try a different user name!</h4>
    </div>
  </div>
</div>
