<div id="get-started">
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <h2 id="message">Sign In/Sign Up Below</h2>
      <hr>
      <div class="well">
        <form class='userEvents' id='sign-in'>
        <h3> Sign-In </h3>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="signUpEmail" name="credentials[email]" placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="credentials[password]" placeholder="Enter PW">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <hr>
      <div class="well">
        <form class='userEvents' id='sign-up'>
        <h3> Sign-Up </h3>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="signUpEmail" name="credentials[email]" placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="credentials[password]" placeholder="Enter PW">
          </div>
          <div class="form-group">
            <label for="passwordConfirmation">Confirm Password</label>
            <input type="password" class="form-control" id="password" name="credentials[password_confirmation]" placeholder="Confirm Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>


    </div>
  </div>
</div>
