<div class="book-update-form" data-id={{id}}>
<p> you are trying to modify: {{id}} </p>
<form class='userEvents' id='modify-book-club'>
  <div class="form-group">
    <input type="text" name="book[title]" placeholder="Enter New Book Title">
    <input type="text" name="book[startDate]" placeholder="Enter New Start Date Here">
    <input type="text" name="book[status]" placeholder="Enter New Book Status Here">
  </div>
  <button type="submit" class="btn btn-default">Update Book</button>
</form>
</div>
