<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation" id="signed-in-nav">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#book-club-nav">
            <span class="sr-only">Toggle navigation</span>
            <!-- Glyphacons to make a hamburger -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand home-link-nav" href="#">Wat-R-U-Reading</a>
    </div>
    <!-- /.navbar-header -->

    <!-- The collapse class tells bootstrap to look for a button inside the nav-bar headre-->
    <div class="collapse navbar-collapse" id="book-club-nav">
      <ul class="nav navbar-nav">
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Your Book Clubs! <span class="caret"></span>
            </a>
          <ul class="dropdown-menu">
            <li><a href="#" class="newBookClub">Make a Book-Club</a></li>
            <li><a href="#" class="yourBookClubs">List of Clubs!</a></li>
          </ul>
        </li>
        <li><a href="#" class="everyoneElsesClubs">Other Book clubs - You might attend</a></li>
        <li><a href="#" class="aboutNav">About</a></li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Account Managment <span class="caret"></span>
            </a>
          <ul class="dropdown-menu">
            <li><a href="#" class="changePW">Change Password</a></li>
            <li><a href="#" class="signOut">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- /.navbar -->
<hr>
