<div id="sign-up-sucess" class="sucess-message">
  <hr>
  <div class="row">
    <div class="col-sm-12">
    <h4 class="text-success">Sign Up Sucess! Sign in to get started</h4>

    </div>
  </div>
</div>
