<div id="welcome-page">
  <div class="row">
    <div class="col-sm-12">
      <hr>
      <h2>Welcome to Wat-R-U-Reading!</h2>
      <hr>
      <p class="lead">Are you a book club fiend?!?!? If so, this is the web site for you.</p>
      <hr>
      <p><img class="img-responsive" src="http://placehold.it/1200x600" alt="siteLOG goes here"></p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h4>Wat-R-U-Reading Helps You To:</h4>
      <ul>
        <li>Post info about Book Clubs you host</li>
        <li>Track book clubs you host</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <h4>Coming Soon:</h4>
      <ul>
        <li>Look at other book clubs being hosted</li>
        <li>RSVP to book clubs near you</li>
        <li>Search for book clubs in your area</li>
        <li>Track online RSVPS on Wat-R-U-Reading</li>
      </ul>
    </div>
  </div>
</div>
